# Ignore everything
*

# Allow specific files and directories
!wp-vuln-scanner/
!wp-vuln-scanner/wp-cve-scan/
!wp-vuln-scanner/wp-cve-scan/**
!wp-cve-search/
!wp-vuln-scanner/nist-cve-search/
!wp-vuln-scanner/nist-cve-search/**
!README.md

# Ignore these directories
__pycache__/